---
import track from "../assets/images/track.png";
---
<section class=" mx-auto flex items-center justify-between">
    <div class="ml-[45px] flex-col flex gap-[25px] items-start">
      <h1 class="text-[#333] text-[60px] font-semibold ">Affordable truck service</h1>
      <p class="text-[#333333CC] text-[18px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio
        in et, lectus sit lorem id integer.
      </p>
      <button class="text-white bg-[#4762FF] py-[10px] px-[20px] rounded-xl">Сделать красиво </button>
    </div>
    <img src={track.src} alt="" class="">
</section>