<section class="bg-[#F4F4F4] p-8">
    <div class="container mx-auto flex justify-between items-center">
      <div>
        <h1
          class="text-[#333] text-[48px] w-[540px] mb-[16px] font-semibold"
        >
          Где мы?
        </h1>
        <p class="tracking-widest w-[576px]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio
          in et, lectus sit lorem id integer.
          <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio
          in et, lectus sit lorem id integer.
          <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio
          in et, lectus sit lorem id integer.
        </p>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23996.239454717463!2d69.167527332666!3d41.25379622721048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8908e11de9c5%3A0xe36a46a2ce35da53!2sNo%20name!5e0!3m2!1sru!2s!4v1711477232914!5m2!1sru!2s"
        width="520"
        height="349"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>