
<section class="container mx-auto flex flex-col justify-center items-center">
<h1 class="text-[#333] text-[40px] font-semibold mb-[18x]">
  Любые услуги за ваши денишки
</h1>
<p class="w-[513px] text-[#333333CC] text-[18px] text-center mb-[48px]">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
  et, lectus sit lorem id integer.
</p>
<div class="flex flex-wrap justify-center gap-5 details">
  <div class="w-[505px] h-[287px] bg-[#F4F6FA] p-8">
    <div>
      <h3 class="w-[366px] text-[#333] text-[24px] font-bold">
        Б/у запчасти для грузовых авто из Европы
      </h3>
      <p class="w-[253px] text-[#333333CC] text-[16px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
        odio in et, lectus sit lorem id integer.
      </p>
    </div>
  </div>
  <div class="w-[505px] h-[287px] bg-[#F4F6FA] p-8 car">
    <div>
      <h3 class="w-[366px] text-[#333] text-[24px] font-bold">
        Автомойка грузовых и легковых авто
      </h3>
      <p class="w-[253px] text-[#333333CC] text-[16px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
        odio in et, lectus sit lorem id integer.
      </p>
    </div>
  </div>
  <div class="w-[505px] h-[287px] bg-[#F4F6FA] p-8 details2">
    <div>
      <h3 class="w-[366px] text-[#333] text-[24px] font-bold">
        Магазин аксессуаров
      </h3>
      <p class="w-[253px] text-[#333333CC] text-[16px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
        odio in et, lectus sit lorem id integer.
      </p>
    </div>
  </div>
  <div class="w-[505px] h-[287px] bg-[#F4F6FA] p-8 oil">
    <div>
      <h3 class="w-[366px] text-[#333] text-[24px] font-bold">
        Пункт замены масла легковых авто
      </h3>
      <p class="w-[253px] text-[#333333CC] text-[16px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
        odio in et, lectus sit lorem id integer.
      </p>
    </div>
  </div>
</div>
</section>