---
import brands from "../assets/images/Component.png";
---

<section class="container mx-auto">
  <div class="py-[130px] flex justify-evenly items-center">
    <div>
      <h1 class="text-[#333] text-[48px] w-[540px] mb-[16px] font-semibold">
        У вас вопрос кто мы , если узнаете сообщите
      </h1>
      <p class="tracking-widest w-[576px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in
        et, lectus sit lorem id integer.
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et,
        lectus sit lorem id integer.
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et,
        lectus sit lorem id integer.
      </p>
    </div>
    <img src={brands.src} alt="" />
  </div>
</section>
